.search-bar {
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
  width: fit-content;

  .input {
    margin-left: 20px;
    margin-right: 20px;

    .icon {
      margin-right: 10px;
    }
  }
}
